/* check w3.css */

body {
    background-image: url("../img/background.jpg");
    box-sizing: border-box;
}

#start-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    border-radius: 15px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px;
}
#inner-start {
    padding: 50px;
}

.start_title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 32px;
    color: #000;
    line-height: 100%;
}

.start_subtitle {
    margin-bottom: 132px;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

.start_button {
    border: 3px solid transparent;
    border-radius: 16px;
    padding: 21px 29px;
    background-color: #800080;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
} 
.start_button:hover {
    background-color: #5e005e;
}

#vragen-container, #allevragen-container, #result-container {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

#progress-vragen {
    height: 10px;
    background-color: #800080;
}

#header-vragen, #header-result {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    padding: 19px 32px 5px;
}

#buttonback-vragen {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 48px;
    background: url("../img/back.svg") #e7eaeb 50%/24px no-repeat;
} 
#buttonback-vragen:hover {
    background: url("../img/back.svg") #cccfcf 50%/24px no-repeat;
}

#logo-vragen, #logo-result {
    width: 125px;
    height: 25px;
}

#middel-vragen, #middel-result {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    border-radius: 15px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
}

#titel-vragen {
    color: #800080;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;   
}

#subtitel-vragen {
    position: relative;
    z-index: 5;
    width: 100%;
    font-weight: 500;
    font-size: 36px;
    color: #000;
    line-height: 140%;
    letter-spacing: -.02em;
}

#buttons-vragen {
    display: flex;
    align-items: center;
}

.buttons {
    margin-top: 25px;
    margin-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 3px solid transparent;
    border-radius: 16px;
    padding: 21px 29px;
    background-color: #800080;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    text-align: left;
    cursor: pointer;
}
.buttons:hover {
    background-color: #800080;
    color: rgb(0, 0, 0);
}

.skip {
    margin-top: 25px;
    margin-left: 24px;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #e7eaeb;
    border-radius: 64px;
    padding: 8px 12px;
    background: #fff;
    line-height: 120%;
    color: rgba(0,0,0,.4);
    white-space: nowrap;
    cursor: pointer;
}